
@import "app/styles/mixins";

.summaryOrder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-top: 1rem;
  padding: 0 1rem;

  @include glas-effect;
}