$primary-color: black;
$bg-color: blanchedalmond;
$bg-rabat-color: green;
$hover-bg-service: #6495ED;


@import "app/styles/mixins";




.calculatorPage {
    display: flex;
  align-content: center;
  padding: 4rem;
   background-color: $bg-color;
    min-height: 100vh;
  width: 100%
}

.services {
  display: flex;
  width: 100%;
  max-width: 320px;
  flex-direction: column;
  align-content: center;
  border-radius: 1rem;
  background: $bg-color;
}

.service {
  display: flex;
  padding: 1rem;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 240px;
  height: 80px;

  @include glas-effect;

  background: rgba(255, 255, 255, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.26);

&:hover {
  background: $hover-bg-service;
  transition:  0.3s;
  }

  &:hover .title {
    color: white
  }
  &:hover .price {
    color: white
  }

  .title {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .price {
    color: black;
  }
.buttonsWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;

  .addButton {
      cursor: pointer;
    &:hover {
      scale: 2;
      transition: all ease-in-out 0.2s;
      color: #fff;
    }
  }
}

}

.orderList {
  display: flex;
  //overflow-y: scroll;
  width: 100%;
  height: 400px;
  padding: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;


  @include glas-effect;
}

.summarySection {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.summaryOrder {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100px;
  margin-top: 1rem;

  @include glas-effect;
}

.selectList {
  @include glas-effect;
}